     <% include ../header %>
     
     <div class="container">
         <div class="row">
                
             <div class="col-md-6">
                 <br><br>
                    <!--<a href="/employee_add_form"><button class="btn btn-lg btn-info">Create An Employee</button></a><br>-->
                    <h5><%= message %></h5>
                   <table class="table table-striped table-bordered">
                      <thead><tr><th>EMPLOYEE ID</th>
                       <th>CODE</th> <th>NAME</th>
                       <th>DESIGNATION</th>
                       <th>Edit</th><th>Delete</th></tr></thead>
                       <tbody>
                       <% for(var i=0; i<records.length; i++) { %>
                           <tr><td><%= records[i]._id %></td>
                               <td><%= records[i].code %></td>
                               <td><%= records[i].name %></td>
                               <td><%= records[i].designation %></td>
                               <td>
                                   <a href="/edit_employee/<%= records[i]._id %>"><button  class="btn btn-sm btn-outline-info">Edit</button></a>
                               </td>
                               <td>
                                   <a href="/delete_employee/<%= records[i]._id %>"><button  class="btn btn-sm btn-outline-danger" onclick="deleteConfirm()">Delete</button></a>
                               </td></tr>
                           <% } %>
                       </tbody>
                   </table>
             </div>
            
         </div>
            
    </div>
    <script>
            function deleteConfirm() {
              confirm("Are you sure want to delete?");
            }
            </script>
    <% include ../footer %>
